$mainColor: #ca1515;
$secondaryColor: #111111;
$headingColor: #171717;
$paragraphColor: #444444;
$hoverColor: #c8c6c6;
$movementTransition: 0.7s ease-in;
$hoverTransition: 0.3s ease;
$backColorPrimary: #4b4441;
