@import "../../Vendors/fonts";
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

body {
  position: relative;
  // Modal section
  .show-product-image {
    @include overlay(rgb(59, 59, 59), 0.8, 4);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
      height: 65%;
      @include mediaQuery(small) {
        width: 40%;
        height: 80%;
      }
    }
  }
  &.open {
    overflow: hidden;
    padding-right: 15px;
  }
  .load-overlay {
    @include overlay(#fff, 1, 5);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// Start Categories Section
.categories {
  width: 100%;
  padding: 15px;
  .container {
    height: 100%;
    .descriptions {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .desc-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .description {
          margin: 5px 0;
          padding: 20px;
          height: 300px;
          width: 100%;
          justify-content: center;
          align-self: flex-start;
          background-size: cover;
          background-position: 60%;
          h1 {
            width: 50%;
            font-family: "Cookie", cursive;
            font-size: 40px;
            letter-spacing: 2px;
            color: $headingColor;
            margin: 10px 0;
            font-weight: 500;
          }
          p {
            color: $paragraphColor;
            width: 80%;
            font-size: 13px;
            line-height: 1.4;
            margin-bottom: 10px;
          }
        }
        @include mediaQuery(small) {
          &:first-of-type {
            .description {
              height: 500px;
              h1 {
                font-size: 90px;
              }
              p {
                font-size: 16px;
                line-height: 1.6;
              }
            }
          }
          &:not(:first-of-type) {
            .description {
              width: 49%;
            }
          }
        }
      }
      @include mediaQuery(meduim) {
        height: 90vh;
        .desc-container {
          height: 100%;
          width: 49.5%;
          .description {
            margin: 0;
          }
          &:first-of-type .description {
            height: 100%;
            width: 100%;
          }
          &:not(:first-of-type) {
            .description {
              height: 49%;
              &:nth-of-type(1),
              &:nth-of-type(2) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
  @include mediaQuery(meduim) {
    padding: 15px 0;
  }
}
// End Categories Section

// Start Products Section
section.products {
  padding: $sectionPadding 15px;
  position: relative;
  .products-container {
    .title-section {
      display: flex;
      flex-direction: column;
      .filter-control {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        li {
          margin-right: 8px;
          font-size: 18px;
          padding: 7px 0;
          color: $headingColorSecond;
          font-weight: 100;
          cursor: pointer;
          &.active {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 3px;
              background-color: $mainColor;
            }
          }
        }
      }
      @include mediaQuery(800px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        margin-bottom: 30px;
        .filter-control {
          padding: 0;
          width: 55%;
          justify-content: space-between;
          @include mediaQuery(large) {
            width: 45%;
          }
        }
      }
    }
    .products {
      display: flex;
      flex-direction: column;
      @include prefixer(user-select, none);
      .product {
        width: 100%;
        height: 450px;
        margin-bottom: 20px;
        .image {
          background-size: cover;
          background-position: 50% 0%;
          width: 100%;
          height: 80%;
          overflow: hidden;
          position: relative;
          .label {
            position: absolute;
            top: 10px;
            left: 10px;
          }
          .actions {
            width: 100%;
            height: 65px;
            line-height: 65px;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            span {
              text-align: center;
              position: relative;
              top: 100%;
              opacity: 0;
              line-height: 100%;
              padding: 12px;
              margin: 0 5px;
              background-color: #fff;
              border-radius: 50%;
              cursor: pointer;

              &:nth-child(1) {
                transition: all 0.4s ease 0.1s;
              }
              &:nth-child(2) {
                transition: all 0.4s ease 0.15s;
              }
              &:nth-child(3) {
                transition: all 0.4s ease 0.2s;
              }
              &:hover {
                background-color: $mainColor;
              }
              i {
                @include prefixer(transform, rotate(0), "moz" "o" "ms");
                @include prefixer(transition, $hoverTransition);
              }
              &:hover i {
                @include prefixer(transform, rotate(360deg), "moz" "o" "ms");
                color: #fff;
              }
            }
          }
        }
        .description {
          padding: 20px 0;
          text-align: center;
          h4 {
            color: $paragraphColor;
            font-weight: 400;
          }
          .stars i {
            font-size: 12px;
            color: #e3c01c;
            margin: 0 -2px;
          }
          h4.prix {
            margin-top: 10px;
            font-weight: 600;
            color: $headingColor;
            display: flex;
            justify-content: center;
            span.new-prix {
              color: #ca1515;
            }
            span.old-prix {
              color: $headingColorThird;
              text-decoration: line-through;
              margin-left: 10px;
            }
          }
        }
        &:hover .actions span {
          top: 0;
          opacity: 1;
        }
        @include mediaQuery(small) {
          width: 45%;
        }
        @include mediaQuery(800px) {
          width: 30%;
        }
        @include mediaQuery(meduim) {
          width: 22%;
        }
      }
      @include mediaQuery(small) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  @include mediaQuery(meduim) {
    padding: $sectionPadding 0;
  }
}
// End Products Section

// Start Banner Section
section.banner {
  padding: $sectionPadding 15px;
  background-color: #f6f4f5;
  width: 100%;
  height: 100vh;
  .container {
    width: 100%;
    height: 100%;
    .banner-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      .collection-container {
        width: 100%;
        .collection-holder {
          width: 300%;
          display: flex;
          flex-direction: row;
          @include prefixer(transition, $movementTransition);
          .collection {
            width: (100% / 3);
            text-align: center;
            padding: 0 15px;
            user-select: none;
            h3 {
              color: $mainColor;
              font-weight: 300;
              text-transform: uppercase;
            }
            h1 {
              font-size: 50px;
              margin: 10px 0;
              font-weight: 400;
              font-family: "Cookie", cursive;
            }
          }
        }
      }
      .bullets {
        text-align: center;
        width: 100%;
        margin-top: 120px;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 12px;
          margin: 0 2.5px;
          display: block;
          height: 12px;
          border-radius: 50%;
          background-color: #000;
          &.active {
            background-color: $mainColor;
          }
        }
      }
    }
  }
  @include mediaQuery(small) {
    background-image: url("../../Images/banner-1.webp");
    height: 60vh;
    background-size: cover;
    background-position: center;
    .container {
      .banner-container {
        width: 60%;
        margin: 0 auto;
        .collection-container {
          .collection-holder {
            .collection {
              h1 {
                font-size: 80px;
              }
            }
          }
        }
        .bullets {
          margin-top: 40px;
        }
      }
    }
  }
  @include mediaQuery(meduim) {
    padding: $sectionPadding 0;
  }
}
// End Banner Section

// Start Trend Section
section.trend {
  padding: $sectionPadding 15px;
  .trending-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .trending {
      width: 100%;
      margin: 15px 0;
      h2 {
        margin-bottom: 35px;
      }
      .trend-item {
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
          width: 95px;
          height: 95px;
        }
        .item-info {
          width: 60%;
          h4 {
            font-weight: 300;
            font-size: 17px;
            color: $headingColorSecond;
            margin-bottom: 5px;
          }
          .stars {
            margin-bottom: 10px;
            i {
              font-size: 12px;
              color: #e3c01c;
              margin: 0 -2px;
            }
          }
          span.prix {
            font-size: 19px;
            font-weight: 600;
          }
        }
      }
      @include mediaQuery(small) {
        width: 45%;
      }
      @include mediaQuery(meduim) {
        width: 30%;
      }
    }
  }
  @include mediaQuery(meduim) {
    padding: $sectionPadding 0;
  }
}
// End Trend Section

// Start Discount Section
section.discount {
  padding: $sectionPadding 0;
  .discount-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .image {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .timer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f4f4f4;
      width: 100%;
      padding: 30px 0;
      .summer {
        position: relative;
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
        .background {
          position: absolute;
          width: 200px;
          height: 200px;
          background-color: #fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          width: 100%;
          h4 {
            color: $headingColorSecond;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 17px;
            span {
              font-weight: 600;
              color: $mainColor;
            }
          }
          h2 {
            margin: 15px 0;
            font-size: 55px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: "Cookie", cursive;
            color: $mainColor;
          }
        }
      }
      .counter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        .counter-item {
          width: 22%;
          span {
            font-size: 30px;
            font-weight: 500;
            color: $headingColor;
          }
          p {
            display: inline-block;
            font-weight: 300;
            font-size: 14px;
          }
        }
      }
    }
    @include mediaQuery(meduim) {
      flex-direction: row;
      > div {
        height: 400px;
        flex: 1;
      }
      .timer > div {
        width: 80% !important;
      }
    }
  }
  @include mediaQuery(meduim) {
    padding: $sectionPadding 0;
  }
}
// End Discount Section

// Start Services Section
section.services {
  padding: $sectionPadding 15px;
  .service-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .service {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      i {
        color: $mainColor;
        font-size: 40px;
        margin-right: 20px;
        width: 15%;
      }
      h4 {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 500;
        color: $headingColor;
        text-transform: capitalize;
      }
      p {
        color: $paragraphColor;
        font-size: 15px;
        font-weight: 400;
      }
    }
    @include mediaQuery(small) {
      flex-direction: row;
      flex-wrap: wrap;
      .service {
        width: 48%;
      }
    }
    @include mediaQuery(meduim) {
      .service {
        width: 24%;
      }
    }
  }
  @include mediaQuery(meduim) {
    padding: $sectionPadding 0;
  }
}
// End Services Section

// Start Instagram Section
section.instagram {
  padding: $sectionPadding 15px;
  .instagram-container {
    display: flex;
    flex-direction: column;
    .instagram-image {
      position: relative;
      .image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        @include prefixer(transition, background-color $hoverTransition);
        @include overlay(#fff, 0, -1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          font-size: 35px;
          margin-bottom: 10px;
        }
        a {
          font-size: 19px;
        }
      }
      &:hover {
        .text {
          @include overlay(#fff, 0.7, 2);
        }
      }
    }
    @include mediaQuery(small) {
      flex-direction: row;
      flex-wrap: wrap;
      .instagram-image {
        width: (100% / 3);
        height: 300px;
      }
    }
    @include mediaQuery(meduim) {
      .instagram-image {
        width: (100% / 6);
      }
    }
  }
  @include mediaQuery(meduim) {
    padding: $sectionPadding 0;
  }
}
// End Instagram Section
